.weather-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-radius: 12px;
    overflow: hidden;
   
  }
  
  .weather-card__temp {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0%;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 16px;
    width: 69px;
    height: 40px;
    color: #fff; /* Ensures the text is readable against any background */
  }
  
  .weather-card__image {
    object-fit: cover;
    object-position: right top;
    width: 100%;
  }

  @media (max-width: 768px) {
    .modal__content {
      max-width: 90%;
      padding: 20px;
    }
    
  }
  
  