.cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 19px;
  }

  @media screen and (max-width: 568px) {
    .cards {
      margin: 0 auto;
    }
  
    .cards__list {
      margin: 36px 19px 0;
    }
  }

  