.cards__list {
    list-style-type: none;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Make the cards responsive */
    gap: 19px 15px;
    padding: 0;
  }
  