.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 229px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.sidebar__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.sidebar__username {
  
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}

.sidebar__edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
}

.sidebar__edit-btn:hover {
  text-decoration: underline;
}

.sidebar__edit-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.sidebar__logout-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
}